@font-face {
  font-family: star_jediregular;
  src: url(components/fonts/starjedi-webfont.woff2) format('woff2'), url(components/fonts/starjedi-webfont.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  background-color: #333339
}

body * {
  box-sizing: border-box;
  overflow: hidden
}

hr {
  border-color: #333
}