.alert-success, .alert-success_msg {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger, .alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: 15%;
  text-align: center
}

.messages .alert {
  width: 100%;
}

.alert:nth-of-type(1) {
  margin-top: .5%
}

.messages .alert:nth-of-type(1) {
  margin-top: 5%
}